 .side {
 	border-radius: 5px  0 0 3rem;
 }
 .side-bd {
 	background-color: green;
 }
.side-ge {
 	background-color: #00c3a7;
 }
.side-mb {
 	background-color: yellow;
 	/*background: url(/img/micro.jpg) center;*/
 }
.side-mi {
 	background-color: red;
 }
.side-zb {
 	background-color: purple;
 }

 .side-nat {
 	background-color: orange;
 }

 .cnidaria-text {
 	color: #00c3a7;
 }

main ul a {
	
}